<form id="new-item-form">
  <label for="item_name">Name</label>
  <input type="text" id="item_name" name="item[name]" required>

  <label for="item_cost_price">Cost Price</label>
  <input type="number" id="item_cost_price" name="item[cost_price]" required>

  <label for="item_sale_price">Sale Price</label>
  <input type="number" id="item_sale_price" name="item[sale_price]" required>

  <label for="item_category">Category</label>
  <input type="text" id="item_category" name="item[category]" required>

  <button id="create-item-button">Create Item</button>
</form>
