body {
  margin: 0;
  height: 100%;
}
/* nav bar */
#nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}

#nav-bar li {
  float: left;
}

#nav-bar li:last-child {
  border-right: none;
  float: right;
}

#nav-bar li a {
  text-align: center;
  display: block;
  color: #faf7f7;
  padding: 14px 16px;
  text-decoration: none;
}

#nav-bar a:hover {
  background-color: #555;
  color: rgb(78, 206, 223);
}

/* container */
.Container {
  height: 100vh;
  background-color: #555;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
}
/* catergories */
.Categories {
  height: 100%;
  width: 20%;
  background-color: rgb(62, 62, 56);
  display: flex;
  flex-direction: column;
}
/* catergories buttons*/
.category-buttons {
  text-decoration: none;
  margin: 2% 5%;
  height: 7%;
  align-items: center;
  background-color: #555;
  color: #faf7f7;
  border: 2px solid;
  border-color: rgb(78, 206, 223);
  border-radius: 15px;
  font-weight: 600;
}

.category-buttons:hover {
  background-color: rgb(78, 206, 223);
}
/* items */
.Items {
  height: 100%;
  width:40%;
  background-color: rgb(36, 36, 32);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  overflow-y:auto;
}

.Items button {
  padding: 10px 15px;
  background-color: #555;
  color: #faf7f7;
  border: 2px solid;
  border-color: rgb(78, 206, 223);
  border-radius: 15px;
  font-weight: 6%;
  max-height: 15%;
  margin-top: 5px;
}

/* screen container*/
.Screen-container {
height: 100%;
width: 40%;
background-color: rgb(36, 36, 32);
display: flex;
flex-direction: column;
}
/* screen */

.Screen {
  background-color: #555;
  border: 2px solid;
  height: 50%;
  width: 95%;
  margin: auto;
  margin-top: 1%;
}

/*payment screen */
.payment-calc {
  display: flex;
  flex-direction: column;
  max-height: inherit;
  border: 1px solid black;
}

input[type="button"] {
  background-color: rgb(78, 206, 223);
  width: 100%;
  padding: 20px 40px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

input[type="text"] {
  padding: 20px 30px;
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  border: 2px solid black;
}